@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.selectCaixa{
    background-color: #BCC2E5;
    height: 40px;
}

.caixaLegenda{
    flex-direction: row;
    margin-right: 70px;
    gap: 24px;
}

.caixaLegenda p{
    color: var(--cor-primaria);
}

.caixaCor{
    gap: 10px;
}

.corAzul, .corAmarela{
    width: 20px;
    height: 20px;
    box-shadow: 0px 3px 5px #00000030;
}

.corAzul{
    background-color: var(--cor-primaria);
}

.corAmarela{
    background-color: var(--cor-terciaria);
}

select{
    appearance: none;
    border: none;
    background: none; 
    color: var(--cor-primaria);
    font-size: 16px;
    margin-left: 70px;
    cursor: pointer;
}

.selectStatus option{
    color: var(--cor-secundaria);
}

.selectStatus:hover{
    background-color: var(--cor-primaria);
}

.titulo{
    color: var(--cor-primaria);
    display: grid;
    justify-items: center;
    font-size: 64px;
    padding-top: 20px;
}

.caixaAlunos{
    display: flex;
    gap: 61px;
    align-items: center;
    justify-content: center;
    padding: 20px 50px 50px 50px;
    flex-wrap: wrap;
}

.alunos{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alunos p{
    text-align: center;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 3px 2px #0000003e;
}

.alunos img{
    width: 175px;
    height: 175px;
    border-radius:50%;
    margin-bottom: 40px;
}

.alunos.formado{
    background-color: var(--cor-terciaria);
}

.alunos.nao-formado{
    background-color: var(--cor-primaria);
}

/* configuração geral */
select, .caixaLegenda p, .titulo{
    font-weight: 500;
}

.selectCaixa, .caixaLegenda, .caixaCor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alunos.formado, .alunos.nao-formado{
    box-shadow: 10px 10px 8px #00000030;
}