@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#caixaAlunos{
    display: flex;
    gap: 61px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.alunos{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alunos p{
    text-align: center;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 4.5px 2px #0000003e;
}

.alunos img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin-bottom: 40px;
}

.alunos.formado{
    background-color: #E5B657;
}

.alunos.nao-formado{
    background-color: #3347B0;
}

.alunos.formado, .alunos.nao-formado{
    box-shadow: 10px 10px 8px #00000030;
}