@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #3347B0;
    height: 100px;
}

p{
    color: #FFFFFF;
}

.headerImg{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px 0px;
}

.botaovoltar{
    display: flex;
    align-items: center;
    padding-right: 25px;
    gap: 10px;
    font-size: 36px;
}

.botaovoltar img{
    width: 45px;
}

main{
    flex: 1;
}

footer{
    background-color: #3347B0;
    height: 140px;
    position: relative;
}

.baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.icons{
    display: flex;
    padding: 4px 0px;
    gap: 20px;
    font-size: 16px;
}

.icons img{
    width: 20px;
}

.copy{
    font-size: 20px;
}

.sites{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.sites img{
    width: 48px;
}

@media (max-width: 320px){
    .headerImg{
        padding: 10px 15px 0px;
    }

    .botaovoltar p{
        display: none;
    }

    .botaovoltar img{
        width: 33.75px;
    }

    footer{
        display: table;
        padding: 10px;
    }

    .baixo{
        flex-direction: column;
    }

    .filhosTextoBaixo{
        display: grid;
        justify-items: center; 
        padding-top: 25px;
    }

    .copySites{
        display: flex;
        flex-direction: column-reverse;
    }

    .copy{
        font-size: 12px;
        text-align: center;
        padding-bottom: 25px;
    }

    .copy, .sites{
        padding-top: 35px;
    }
}